
# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [2]:
import pandas as pd
df = pd.read_csv("WorldCupMatches.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

## Common methods and attributes

Use the correct method to look at the first 7 rows of the data set.

In [2]:
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL

Look at the last 3 rows of the data set.

In [9]:
df.tail(13)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Get a concise summary of your data using `.info()`

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

Obtain a tuple representing the number of rows and number of columns

In [7]:
df.shape

(4572, 20)

Use the appropriate attribute to get the column names

In [8]:
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [12]:
print(df[2:5])

     Year              Datetime    Stage         Stadium         City  \
2  1930.0  14 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo
3  1930.0  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4  1930.0  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo

  Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
2     Yugoslavia              2.0              1.0         Brazil
3        Romania              3.0              1.0           Peru
4      Argentina              1.0              0.0         France

  Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
2                    24059.0                   2.0                   0.0
3                     2549.0                   1.0                   0.0
4                    23409.0                   0.0                   0.0

                 Referee              Assistant 1                 Assistant 2  \
2    TEJADA Anibal (URU)  VALLARINO Ricardo (URU)         BALWAY Thomas (FRA)
3  WARNKEN Alberto (CHI)      LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)
4    REGO Gilberto (BRA)     SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)

   RoundID  MatchID Home Team Initials Away Team Initials
2    201.0   1093.0                YUG                BRA
3    201.0   1098.0                ROU                PER
4    201.0   1085.0                ARG                FRA

Now, print all the info from game 5-9, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

In [31]:
print(df.loc[5:9,['Home Team Name','Away Team Name']])

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [34]:
print(df.loc[(df['Year']==1950) & (df['Stage']=='Group 3')])

      Year              Datetime    Stage           Stadium        City  \
56  1950.0  25 Jun 1950 - 15:00   Group 3          Pacaembu  Sao Paulo
61  1950.0  29 Jun 1950 - 15:30   Group 3  Durival de Brito   Curitiba
65  1950.0  02 Jul 1950 - 15:00   Group 3          Pacaembu  Sao Paulo

   Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
56         Sweden              3.0              2.0          Italy
61         Sweden              2.0              2.0       Paraguay
65          Italy              2.0              0.0       Paraguay

   Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
56                    36502.0                   2.0                   1.0
61                     7903.0                   2.0                   1.0
65                    25811.0                   1.0                   0.0

                  Referee             Assistant 1                Assistant 2  \
56        LUTZ Jean (SUI)     BERANEK Alois (AUT)        TEJADA Carlos (MEX)
61  MITCHELL Robert (SCO)       LEMESIC Leo (YUG)     GARCIA Prudencio (USA)
65     ELLIS Arthur (ENG)  GARCIA Prudencio (USA)  DE LA SALLE Charles (FRA)

    RoundID  MatchID Home Team Initials Away Team Initials
56    208.0   1219.0                SWE                ITA
61    208.0   1228.0                SWE                PAR
65    208.0   1218.0                ITA                PAR

Let's repeat the command above, but now we only want to print out the attendance colum for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [3]:
print(df.loc[(df['Year']==1950)&(df['Stage']=='Group 3'),"Attendance"])

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

In [7]:
print(df.loc[df['Home Team Name'] == 'Netherlands'])

       Year               Datetime                  Stage  \
244  1974.0   19 Jun 1974 - 19:30                 Group 3
258  1974.0   26 Jun 1974 - 19:30                 Group A
265  1974.0   03 Jul 1974 - 19:30                 Group A
269  1974.0  07 July 1974 - 16:00                   Final
277  1978.0   03 Jun 1978 - 16:45                 Group 4
285  1978.0   07 Jun 1978 - 16:45                 Group 4
295  1978.0   14 Jun 1978 - 13:45                 Group A
302  1978.0   21 Jun 1978 - 13:45                 Group A
422  1990.0   12 Jun 1990 - 21:00                 Group F
472  1994.0   20 Jun 1994 - 19:30                 Group F
504  1994.0   04 Jul 1994 - 12:00             Round of 16
509  1994.0   09 Jul 1994 - 14:30          Quarter-finals
525  1998.0   13 Jun 1998 - 21:00                 Group E
542  1998.0   20 Jun 1998 - 21:00                 Group E
557  1998.0   25 Jun 1998 - 16:00                 Group E
569  1998.0   29 Jun 1998 - 21:00             Round of 16
574  1998.0   04 Jul 1998 - 16:30          Quarter-finals
578  1998.0   11 Jul 1998 - 21:00   Match for third place
665  2006.0   16 Jun 2006 - 18:00                 Group C
682  2006.0   21 Jun 2006 - 21:00                 Group C
716  2010.0   14 Jun 2010 - 13:30                 Group E
731  2010.0   19 Jun 2010 - 13:30                 Group E
760  2010.0   28 Jun 2010 - 16:00             Round of 16
764  2010.0   02 Jul 2010 - 16:00          Quarter-finals
771  2010.0   11 Jul 2010 - 20:30                   Final
805  2014.0   23 Jun 2014 - 13:00                 Group B
829  2014.0   09 Jul 2014 - 17:00             Semi-finals
830  2014.0   05 Jul 2014 - 17:00          Quarter-finals
832  2014.0   29 Jun 2014 - 13:00             Round of 16
838  2014.0   29 Jun 2014 - 13:00             Round of 16
847  2014.0   05 Jul 2014 - 17:00          Quarter-finals
849  2014.0   09 Jul 2014 - 17:00             Semi-finals

                                               Stadium  \
244                                   Westfalenstadion
258                                        Parkstadion
265                                   Westfalenstadion
269                                     Olympiastadion
277                                         San Martin
285                                         San Martin
295                  Estadio Olmpico Chateau Carreras
302  El Monumental - Estadio Monumental Antonio Ves...
422                                     Della Favorita
472                                        RFK Stadium
504                                        Citrus Bowl
509                                        Cotton Bowl
525                                    Stade de France
542                                    Stade Vlodrome
557                            Stade Geoffroy Guichard
569                                    Stade Municipal
574                                    Stade Vlodrome
578                                   Parc des Princes
665                           Gottlieb-Daimler-Stadion
682                  FIFA World Cup Stadium, Frankfurt
716                                Soccer City Stadium
731                                     Durban Stadium
760                                     Durban Stadium
764                             Port Elizabeth Stadium
771                                Soccer City Stadium
805                                 Arena de Sao Paulo
829                                 Arena de Sao Paulo
830                                   Arena Fonte Nova
832                                   Estadio Castelao
838                                   Estadio Castelao
847                                   Arena Fonte Nova
849                                 Arena de Sao Paulo

                                   City Home Team Name  Home Team Goals  \
244                           Dortmund     Netherlands              0.0
258                      Gelsenkirchen     Netherlands              4.0
265                           Dortmund     Netherlands              2.0
269                             Munich     Netherlands              1.0
277                            Mendoza     Netherlands              3.0
285                            Mendoza     Netherlands              0.0
295                            Cordoba     Netherlands              5.0
302                       Buenos Aires     Netherlands              2.0
422                            Palermo     Netherlands              1.0
472                      Washington Dc     Netherlands              2.0
504                            Orlando     Netherlands              2.0
509                             Dallas     Netherlands              2.0
525                        Saint-Denis     Netherlands              0.0
542                         Marseilles     Netherlands              5.0
557                      Saint-Etienne     Netherlands              2.0
569                           Toulouse     Netherlands              2.0
574                         Marseilles     Netherlands              2.0
578                              Paris     Netherlands              1.0
665                          Stuttgart     Netherlands              2.0
682                     Frankfurt/Main     Netherlands              0.0
716                       Johannesburg     Netherlands              2.0
731                             Durban     Netherlands              1.0
760                             Durban     Netherlands              2.0
764  Nelson Mandela Bay/Port Elizabeth     Netherlands              2.0
771                       Johannesburg     Netherlands              0.0
805                          Sao Paulo     Netherlands              2.0
829                          Sao Paulo     Netherlands              0.0
830                           Salvador     Netherlands              0.0
832                          Fortaleza     Netherlands              2.0
838                          Fortaleza     Netherlands              2.0
847                           Salvador     Netherlands              0.0
849                          Sao Paulo     Netherlands              0.0

     Away Team Goals           Away Team Name  \
244              0.0                   Sweden
258              0.0                Argentina
265              0.0                   Brazil
269              2.0               Germany FR
277              0.0                  IR Iran
285              0.0                     Peru
295              1.0                  Austria
302              1.0                    Italy
422              1.0                    Egypt
472              1.0             Saudi Arabia
504              0.0  rn">Republic of Ireland
509              3.0                   Brazil
525              0.0                  Belgium
542              0.0           Korea Republic
557              2.0                   Mexico
569              1.0               Yugoslavia
574              1.0                Argentina
578              2.0                  Croatia
665              1.0            Cte d'Ivoire
682              0.0                Argentina
716              0.0                  Denmark
731              0.0                    Japan
760              1.0                 Slovakia
764              1.0                   Brazil
771              1.0                    Spain
805              0.0                    Chile
829              0.0                Argentina
830              0.0               Costa Rica
832              1.0                   Mexico
838              1.0                   Mexico
847              0.0               Costa Rica
849              0.0                Argentina

                            Win conditions  Attendance  Half-time Home Goals  \
244                                            53700.0                   0.0
258                                            56548.0                   2.0
265                                            53700.0                   0.0
269                                            78200.0                   1.0
277                                            33431.0                   1.0
285                                            28125.0                   0.0
295                                            25050.0                   3.0
302                                            67433.0                   0.0
422                                            33288.0                   0.0
472                                            50535.0                   0.0
504                                            61355.0                   2.0
509                                            63500.0                   0.0
525                                            77000.0                   0.0
542                                            55000.0                   2.0
557                                            30600.0                   2.0
569                                            33500.0                   1.0
574                                            55000.0                   1.0
578                                            45500.0                   1.0
665                                            52000.0                   2.0
682                                            48000.0                   0.0
716                                            83465.0                   0.0
731                                            62010.0                   0.0
760                                            61962.0                   1.0
764                                            40186.0                   0.0
771            Spain win after extra time      84490.0                   0.0
805                                            62996.0                   0.0
829    Argentina win on penalties (2 - 4)      63267.0                   0.0
830  Netherlands win on penalties (4 - 3)      51179.0                   0.0
832                                            58817.0                   0.0
838                                            58817.0                   0.0
847  Netherlands win on penalties (4 - 3)      51179.0                   0.0
849    Argentina win on penalties (2 - 4)      63267.0                   0.0

     Half-time Away Goals                           Referee  \
244                   0.0            WINSEMANN Werner (CAN)
258                   0.0                DAVIDSON Bob (SCO)
265                   0.0            TSCHENSCHER Kurt (GER)
269                   2.0                 TAYLOR John (ENG)
277                   0.0  GONZALEZ ARCHUNDIA Alfonso (MEX)
285                   0.0                PROKOP Adolf (GDR)
295                   0.0                 GORDON John (SCO)
302                   1.0              MARTINEZ Angel (ESP)
422                   0.0      SORIANO ALADREN Emilio (ESP)
472                   1.0            DIAZ VEGA Manuel (ESP)
504                   0.0             MIKKELSEN Peter (DEN)
509                   0.0             BADILLA Rodrigo (CRC)
525                   0.0           COLLINA Pierluigi (ITA)
542                   0.0              WOJCIK Ryszard (POL)
557                   0.0          ALZEID Abdulrahman (KSA)
569                   0.0    GARCIA ARANDA Jose Maria (ESP)
574                   1.0        BRIZIO CARTER Arturo (MEX)
578                   2.0    GONZALEZ CHAVEZ Epifanio (PAR)
665                   1.0                  RUIZ Oscar (COL)
682                   0.0       MEDINA CANTALEJO Luis (ESP)
716                   0.0             Stphane LANNOY (FRA)
731                   0.0             BALDASSI Hector (ARG)
760                   0.0    Alberto UNDIANO MALLENCO (ESP)
764                   1.0            NISHIMURA Yuichi (JPN)
771                   0.0                 WEBB Howard (ENG)
805                   0.0              Bakary GASSAMA (GAM)
829                   0.0                Cneyt AKIR (TUR)
830                   0.0             Ravshan IRMATOV (UZB)
832                   0.0               PROENCA Pedro (POR)
838                   0.0               PROENCA Pedro (POR)
847                   0.0             Ravshan IRMATOV (UZB)
849                   0.0                Cneyt AKIR (TUR)

                            Assistant 1                           Assistant 2  \
244              TSCHENSCHER Kurt (GER)                    THOMAS Clive (WAL)
258              TSCHENSCHER Kurt (GER)                   KAZAKOV Pavel (URS)
265                  DAVIDSON Bob (SCO)                  SUPPIAH George (SIN)
269    GONZALEZ ARCHUNDIA Alfonso (MEX)              BARRETO RUIZ Ramon (URU)
277                  WURTZ Robert (FRA)                 COMESANA Miguel (ARG)
285       COEREZZA Norberto Angel (ARG)                  IVANOV Anatoly (URS)
295      ITHURRALDE Arturo Andres (ARG)                    BOUZO Farouk (SYR)
302                PESTARINO Luis (ARG)           OROZCO GUERRERO Cesar (PER)
422        CODESAL MENDEZ Edgardo (MEX)  CARDELLINO DE SAN VICENTE Juan (URU)
472               IVANOV Valentin (RUS)                   MARTON Sandor (HUN)
504                DUNSTER Gordon (AUS)                 BRAZZALE Eugene (AUS)
509     AL GHATTAN Yousif Abdulla (BAH)                 FANAEI Mohammad (IRN)
525                MAZZEI Gennaro (ITA)                  ZAMMIT Emanuel (MLT)
542               POCIEGIEL Jacek (POL)                    DUPANOV Yuri (BLR)
557       TRESACO GRACIA Fernando (ESP)              GHADANFARI Hussain (KUW)
569                RAUSIS Laurent (SUI)              GRIGORESCU Nicolae (ROU)
574                   POWELL Owen (JAM)                SALINAS Reynaldo (HON)
578                ZAMMIT Emanuel (MLT)                     FRED Lencie (VAN)
665               TAMAYO Fernando (ECU)                      NAVIA Jose (COL)
682  GIRALDEZ CARRASCO Victoriano (ESP)          MEDINA HERNANDEZ Pedro (ESP)
716                 DANSAULT Eric (FRA)                     UGO Laurent (FRA)
731                 CASAS Ricardo (ARG)                  MAIDANA Hernan (ARG)
760               MARTINEZ Fermin (ESP)                      YUSTE Juan (ESP)
764                   SAGARA Toru (JPN)                  JEONG Hae Sang (KOR)
771                   Darren CANN (ENG)               MULLARKEY Michael (ENG)
805            MENKOUANDE Evarist (CMR)                KABANDA Felicien (RWA)
829                DURAN Bahattin (TUR)                     ONGUN Tarik (TUR)
830         RASULOV Abduxamidullo (UZB)              KOCHKAROV Bakhadyr (KGZ)
832               MIRANDA Bertino (POR)                      TRIGO Jose (POR)
838               MIRANDA Bertino (POR)                      TRIGO Jose (POR)
847         RASULOV Abduxamidullo (UZB)              KOCHKAROV Bakhadyr (KGZ)
849                DURAN Bahattin (TUR)                     ONGUN Tarik (TUR)

        RoundID      MatchID Home Team Initials Away Team Initials
244       262.0       2097.0                NED                SWE
258       263.0       1948.0                NED                ARG
265       263.0       1983.0                NED                BRA
269       605.0       2063.0                NED                FRG
277       278.0       2388.0                NED                IRN
285       278.0       2394.0                NED                PER
295       279.0       2220.0                NED                AUT
302       279.0       2391.0                NED                ITA
422       322.0        151.0                NED                EGY
472       337.0       3058.0                NED                KSA
504       338.0       3089.0                NED                IRL
509       796.0       3098.0                NED                BRA
525      1014.0       8733.0                NED                BEL
542      1014.0       8749.0                NED                KOR
557      1014.0       8766.0                NED                MEX
569      1024.0       8778.0                NED                YUG
574      1025.0       8784.0                NED                ARG
578      1028.0       8787.0                NED                CRO
665  97410100.0   97410022.0                NED                CIV
682  97410100.0   97410037.0                NED                ARG
716    249722.0  300061478.0                NED                DEN
731    249722.0  300111117.0                NED                JPN
760    249717.0  300111113.0                NED                SVK
764    249718.0  300061507.0                NED                BRA
771    249721.0  300061509.0                NED                ESP
805    255931.0  300186470.0                NED                CHI
829    255955.0  300186490.0                NED                ARG
830    255953.0  300186488.0                NED                CRC
832    255951.0  300186508.0                NED                MEX
838    255951.0  300186508.0                NED                MEX
847    255953.0  300186488.0                NED                CRC
849    255955.0  300186490.0                NED                ARG

AttributeError: 'NoneType' object has no attribute 'sum'

How many games were playes by the Netherlands in total?

Next, let's try and figure out how many games the USA played in the 2014 world cup.

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In the world cup history, how matches had more than 5 goals in total?

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [ ]:
df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name" ]

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

Make sure to verify your answer!